<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Contenedor UNIR</title>
</head>

<body>
  <h1>Aplicación Contenerizada (Node.js y MongoDB)</h1>
  <h2>Roberto Cárdenas</h2>
  <form method="post" action="/item/add">
    <label for="name">Input</label>
    <input type="text" name="name">
    <input type="submit" value="Agregar">
  </form>
  <h4>Items:</h4>
  <ul>
    <% items.forEach(function(item) { %>
      <li>
        <%= item.name %>
      </li>
      <% }); %>
  </ul>
</body>

</html>
